/*Reset*/
* {
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins';
    font-size: 100%;
    box-sizing: border-box;
}
nav, ul {list-style: none;}
a {text-decoration: none; cursor: pointer; opacity: 0.7;}
a:hover {opacity: 1;}

/*CABEÇALHO*/
header {
    background: linear-gradient(#FF3662, #7600B1) ;
    width: 100%; 
    position: absolute; 
    top: 0; 
    left: 0; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 50px;
}
header img {
    width: 200px;
}
header nav {
    display: flex;
}
header li a {
    color: rgb(226, 226, 226);
}
header li {
    margin: 0 15px;
}
header li:first-child {
    margin-left: 0;
}
header li:last-child {
    margin-right: 0;
}
@media ( max-width: 700px) {
    header {flex-direction: column;}
    header img {margin-bottom: 15px;}
}

/*Texto principal quem sou eu */
.quem-sou-eu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 100px 50px;
    background: linear-gradient(#7600B1, #FF3662)
}
.quem-sou-eu {display: flex; flex-direction: column; align-items: center; padding: 100px 50px; background: linear-gradient(#7600B1, #FF3662)}
.quem-sou-eu h1 {font-size: 2rem; margin-bottom: 35px; color: #fff; text-align: center; text-shadow: 0.2em 0.2em 0.3em #000;}
.quem-sou-eu p {max-width: 800px; margin-bottom: 35px; color: #fff; text-align: center;}
.quem-sou-eu a {color: unset; text-decoration: none7;}
.quem-sou-eu hr {width: 200px; height: 2px; background-color: #fff; margin-bottom: 70px; border: none;}


/*FOTOS UM*/

        * {
            box-sizing: border-box;
            margin: 0;
            padding: 0;
        }


        body {
            background-color: #FF3662;
        }

    
        .container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: auto;
            width: 800px;
            height: 600px;
            background-color:#FF3662;
        }


        .main-heading {
            padding: 2rem 0 2rem 0;
        }

        .content {
            position: relative;
        }


        .carousel-content {
            position: absolute;

         
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
            z-index: 50;
        }

        .carousel-heading {
            font-size: 3rem;
            color: #308d46;
            margin-bottom: 1rem;
        }


        .slideshow {
            height: 100%;
            overflow: hidden;
            position: relative;
        }


        .slideshow-wrapper {
            display: flex;
            width: 100%;
            height: 400%;
            position: relative;
            animation: slideshow 20s infinite;
        }

        .slide {
            width: 100%;
            height: 100%;
        }

        .slide-img {
            width: 100%;
            height: 100%;
            object-fit: hidden;
        }

        @keyframes slideshow {
            0% {
                left: 0;
            }

            10% {
                left: 0;
            }

            15% {
                left: -100%;
            }

            25% {
                left: -100%;
            }

            30% {
                left: -200%;
            }

            40% {
                left: -200%;
            }

            45% {
                left: -300%;
            }

            55% {
                left: -300%;
            }

            60% {
                left: -200%;
            }

            70% {
                left: -200%;
            }

            75% {
                left: -100%;
            }

            85% {
                left: -100%;
            }

            90% {
                left: 0%;
            }
        }



        .slide-btn {
            background-color: #bbb;
            border-radius: 50%;
            border: .2rem solid #d38800;
            width: 1.2rem;
            height: 1.2rem;
            outline: none;
            cursor: pointer;


            position: absolute;
            bottom: 3%;
            left: 50%;
            transform: translateX(-50%);
            z-index: 70;
        }

        .slide-btn-1 {
            left: 45%;
        }

        .slide-btn-2 {
            left: 50%;
        }

        .slide-btn-3 {
            left: 55%;
        }

        .slide-btn-4 {
            left: 60%;
        }


        .slide-btn-1:focus~.slideshow-wrapper {
            animation: none;
            left: 0;
        }

        .slide-btn-2:focus~.slideshow-wrapper {
            animation: none;
            left: -100%;
        }

        .slide-btn-3:focus~.slideshow-wrapper {
            animation: none;
            left: -200%;
        }

        .slide-btn-4:focus~.slideshow-wrapper {
            animation: none;
            left: -300%;
        }

        .slide-btn:focus {
            background-color: #308d46;
        }
        .container img {
            max-width:450px;
            max-height:400px;
            width: auto;
            height: auto;
        }
        

/*RODAPÉ*/
footer {display: flex; flex-direction: column; background: linear-gradient(#FF3662, #7600B1); padding: 50px 0px; align-items: center;}
footer ul {display: flex; margin-bottom: 25px;}
footer ul li {margin-right: 10px;}
footer ul li:last-child {margin-right: 0px;}
footer ul li a {color: #c3c63b; font-size: 2rem;}
footer p { color: #c3c63b; text-align: center;}